@use "../abstracts";

@mixin desc($mt: 12px) {
    @include abstracts.responsive-font(1.4rem, 1.8rem);
    margin-top: 12px;
    color: abstracts.$desc-color;
    font-weight: 400;
    line-height: 1.71;
    @content;

    @include abstracts.screen(desktop) {
        margin-top: 18px;
        line-height: 1.66;
        @content;
    }
}

.desc {
    @include desc;
}
