@use "../abstracts";

@mixin mark($w: 183px, $h: 21px, $b: 0, $l: 2px) {
    position: absolute;
    content: "";
    display: inline-block;
    width: $w;
    height: $h;
    bottom: $b;
    left: $l;
    background-image: url(../icon/icon-mark.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    @content;
}

mark {
    position: relative;
    background: transparent;
    z-index: 2;
}

mark::after {
    @include mark;

    @include abstracts.screen(desktop) {
        width: 328px;
        height: 42px;
        left: 34px;
        bottom: -8px;
        rotate: -2deg;
    }
}
